.mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.desktop {
  @media (max-width: 600px) {
    display: none;
  }
}

.navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbarSticky {
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
